body {
  background-color: #f1f9ff;
}

.navbar {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 123, 255, 0.5)' stroke-width='5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: #007bff;
  size: 15%;
}
@media (min-width: 992px) {
  #navbarNav {
    position: absolute;
    right: 20%;
  }
}
