#dropZone {
  border: 3px dashed #000;
  padding: 20px;
  text-align: center;
  min-height: 150px;
  cursor: pointer;
}

.pdf-file {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 10px;
  cursor: move;
  vertical-align: top;
}

.pdf-icon {
  font-size: 24px;
  font-weight: bold;
}
.send {
  font-size: medium;
}
