<div class="container mt-5">
  <h3>{{ service.name_on_site }}</h3>
  <br />
  <h5 class="upload_text">Faça o upload abaixo:</h5>
  <div
    data-accept_files="{{ service.accept_type }}"
    data-url_function="{{ service.name }}"
    data-multiple="{{ service.multiple }}"
    data-service_type="{{ category.name }}"
    class="row d-flex justify-content-center align-items-center form_files"
  >
    {% if category.name != 'TextToImage' %}
    <div id="dropZone" class="col-lg-4 bg-white rounded mx-2">
      Arraste aqui o arquivo ou arquivos desejados, ou clique para selecionar
      <ul id="filesDisplay"></ul>
      <input
        type="file"
        id="fileInput"
        name="files"
        style="display: none"
        accept="{{ service.extensions }}"
      />
    </div>
    {% else %}
    <textarea class="col-lg-4 bg-white rounded mx-2" id="textZone"></textarea>
    
    {% endif %}
    <div class="col-lg-2 d-flex justify-content-center align-items-center">
      <button
        type="submit"
        disabled
        class="text-center btn btn-primary px-4 send"
      >
        Gerar
      </button>
    </div>
    <div id="finalZone" class="col-lg-4 bg-white rounded mx-2">
      <div id="finalZoneChildren">
        <div id="show_file">
          <img height="150px" />
        </div>
        <div id="file_name"></div>
        <a id="download_button" class="btn btn-primary mt-2" download>
          Baixar
        </a>
      </div>
    </div>
  </div>
  <div class="loader-wrapper">
    <div class="loader"></div>
    <p>Gerando...</p>
  </div>
</div>
{% block scripts %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.13.0/Sortable.min.js"
  type="module"
></script>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  type="module"
></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  type="module"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"
  type="module"
></script>
<script>
  const token = "{{ csrf_token() }}";
</script>

{% endblock %}
