{% extends 'base.html' %} {% block styles %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/functions/services.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/load_element.css') }}"
/>
{% endblock %}

{% block conteudo %}

{% include 'functions/services.html' %}

{% endblock %}

{% block scripts %}
{% if category.name != 'TextToImage' %}
<script
  src="{{ url_for('static', filename='js/functions/services.js') }}"
  type="module"
></script>
{% else %}
<script
  src="{{ url_for('static', filename='js/functions/TextToImage.js') }}"
  type="module"
></script>
{% endif %}

{% endblock %}
