{% extends 'base.html' %} {% block styles %}<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/functions/' + category.name + '.css') }}"
/>
{% endblock %} {% block conteudo %} {% include 'functions/' + category.name +
'.html' %} {% endblock %} {% block scripts %}
<!-- editar script abaixo depois -->
<script>
  window.message = "{{ category.name }}";
</script>
<script
  src="{{ url_for('static', filename='js/functions/' + category.name + '.js') }}"
  type="module"
></script>

{% endblock %}
