<div class="container mt-5">
  <h3>{{ service.name_on_site }}</h3>
  <br />
  <h5>Faça o upload abaixo:</h5>
  <form
    action="{{ url_for('http_requests.' + service.function_name) }}"
    method="post"
    enctype="multipart/form-data"
  >
    <!--EDITAR DEPOIS-->
    <div id="dropZone" class="bg-white rounded">
      Arraste aqui o arquivo ou arquivos desejados, ou clique para selecionar
      <div id="pdfDisplay" class="mt-4"></div>
    </div>
    {% if service.multiple == '1' %}
    <input
      type="file"
      id="pdfInput"
      name="files"
      style="display: none"
      accept="{{ service.extensions }}"
      multiple
    />
    {% else %}
    <input
      type="file"
      id="pdfInput"
      name="files"
      accept="{{ service.extensions }}"
    />
    {% endif %}

    <div class="text-center">
      <button type="submit" class="btn btn-primary my-5 px-4 send">
        Gerar
      </button>
    </div>
  </form>
</div>
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.13.0/Sortable.min.js"></script>
{% endblock %}
