<div class="container mt-5">
  <h2>{{ service.name_on_site }}</h2>
  <p>Descrição breve do serviço.</p>
  <form action="#" method="post">
    <div class="form-group">
      <label for="text" style="font-size: xx-large"
        >Escreva seu texto/link:</label
      ><br />
      <textarea
        class=""
        id="text"
        name="text"
        cols="70"
        rows="15"
        required
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary gerar">Gerar</button>
  </form>
</div>
